<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список настроек приложения</title>
</head>
<body>

<div th:each="appProperty : ${listAppProperties}">
    <a th:href="@{/appProperties/{id}(id=${appProperty.getId()})}">
        <span th:text="${appProperty.getPropertyKey()}"></span>
    </a>
    <a th:href="@{/appProperties/{id}/edit(id=${appProperty.getId()})}">
        Редактировать
    </a>
    <form th:method="DELETE"
          th:action="@{/appProperties/{id}(id=${appProperty.getId()})}">
        <input type="submit" value="УДАЛИТЬ"/>
    </form>
</div>

<a th:href="@{/appProperties/new}">
    ДОБАВИТЬ
</a>

</body>
</html>