<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить настройку приложения</title>
</head>
<body>
    <form th:method="POST"
          th:action="@{/appProperties}"
          th:object="${appProperty}">

        <label for="idAppProperty">ID</label>
        <input type="text" th:field="*{id}" id="idAppProperty">

        <br/>

        <label for="keyAppProperty">KEY</label>
        <input type="text" th:field="*{propertyKey}" id="keyAppProperty">

        <br/>

        <label for="valueAppProperty">VALUE</label>
        <input type="text" th:field="*{propertyValue}" id="valueAppProperty">

        <br/>

        <input type="submit" value="Add">
    </form>
</body>
</html>