<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отредактировать настройку приложения</title>
</head>
<body>
<form th:method="PATCH"
      th:action="@{/appProperties/{id}(id=${appProperty.getId()})}"
      th:object="${appProperty}">

    <label for="keyAppProperty">KEY</label>
    <input type="text" th:field="*{propertyKey}" id="keyAppProperty">
    <div style="color: red"
         th:if="${#fields.hasErrors('propertyKey')}"
         th:errors="*{propertyKey}">
    </div>

    <br/>

    <label for="valueAppProperty">VALUE</label>
    <input type="text" th:field="*{propertyValue}" id="valueAppProperty">
    <div style="color: red"
         th:if="${#fields.hasErrors('propertyValue')}"
         th:errors="*{propertyValue}">
    </div>

    <br/>

    <input type="submit" value="Update">
</form>
</body>
</html>